<!DOCTYPE html>
<html lang="en">
    
<!--Header-->
<%- include('layouts/header');-%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar')-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Dashboard</h1>
                            <span class="subheading">DriveTest Booking Kisko</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main id="mb4">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                       
                            <h2 class="post-title">You can Book G/G2 Drive test from this Kisko</h2>
                    </div>
                </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer')-%>
        <!--sCRIPTS-->
        <%- include('layouts/scripts')-%>
        
    </body>
</html>
